body {
    background: #6f7070;
    margin-top: 50px !important;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

}

head {
    font-size: 20px;
}

.paginate-table {
    position: center;
}

.paginate {

    text-align: center;
}

.color-red{
	color: red;
}

.color-green{
	color: green;
}

.color-blue{
	color: blue;
}


h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 16px;
}

table.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

table.pagination td {display: inline;}

table.pagination td a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

body {margin:0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

}

.parallax {
    /* The image used */
    background-image: url("../assets/img/tlo.jpg") !important;
    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-content {
    font-family: "Times New Roman", Times, serif;
    font-size: large !important;
    background: #a1a2a2;
    align-content: center;
}

:invalid {
    border-color: #fff7f4;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
    -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    box-shadow:0 0 5px rgba(255, 247, 244, 0.8);
}

:required {
    border-color: #88a;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

form {
    width:100%;
    margin: 20px auto;
    font-size:40px;
    text-align: center;
}

form label {
    font-size: 20px;
}

.button-order {
    text-align: center;
    position: relative;
    left: 45%;
    /*display: inline-block;*/
    /*padding: 15px 25px;*/
    font-size: 24px;

    /*text-align: center;*/
    /*text-decoration: none;*/
    /*outline: none;*/
    /*color: #fff;*/
    /*background-color: #ffdead;*/
    /*border: none;*/
    border-radius: 15px;

}

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:0px solid #ccc;
    font-size:40px;
    align-self: center;

    width:80%;
    min-height:30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
}

input[type=submit] {
    background:none;
    padding:10px;
}


.page-content {
    margin-top: 5%;
}

.order-client-data {
    display: inline;
}

.order-sum output {
    font-size: 40px;
    color:red;
}

.table-bordered{
    border: none !important;
    background: whitesmoke !important;
}

.form-control {
    height: auto;
}

/*.button {*/
    /*display: inline-block;*/
    /*padding: 15px 25px;*/
    /*font-size: 24px;*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*outline: none;*/
    /*color: #fff;*/
    /*background-color: #ffdead;*/
    /*border: none;*/
    /*border-radius: 15px;*/
    /*box-shadow: 0 9px #999;*/
/*}*/

/* The switch - the box around the sliderSwich */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The sliderSwich */
.sliderSwich {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderSwich:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .sliderSwich {
    background-color: #2196F3;
}

input:focus + .sliderSwich {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderSwich:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliderSwichs */
.sliderSwich.round {
    border-radius: 34px;
}

.sliderSwich.round:before {
    border-radius: 50%;
}
