body {
    background-image: url("../assets/img/tlo.jpg") !important;
    margin-top: 50px !important;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

head {
    font-size: 20px;
}

.paginate-table {
    position: center;
}

.color-red{
	color: red;
}

.color-green{
	color: green;
}

.color-blue{
	color: blue;
}


h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 16px;
}

table.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

table.pagination td {display: inline;}

table.pagination td a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

body {margin:0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

}



.parallax {
    /* The image used */
    background: antiquewhite;
    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}