<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="addItem">
    <h3>Formularz dodawania menu:</h3>
    <input value="" type="text" placeholder="Nazwa" ng-model="art">
    <input value="" type="text" placeholder="Opis" ng-model="description">
    <input value="" type="text" placeholder="Cena" ng-model="price">
    <input value="" type="text" placeholder="Kategoria" ng-model="category">
    <br><br>
    <button ng-click="addItem()"><i class="fa fa-shopping-cart" aria-hidden="true">Dodaj</i>
    </button>
</div>
</body>
</html>