<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<h3>Formularz rezerwacji:</h3>

<form>

    <label>Imię i nazwisko:</label>
    <input type="text" id="name" name="name" ng-model="firstName" placeholder="Jan " >

    <label>Nazwisko:</label>
    <input type="text" id="lastName" name="lastName" ng-model="lastName" placeholder=" Kowalski" >

    <label>Adres e-mail:</label>
    <input type="email" id="email_addr" name="email_addr" ng-model="email" >

    <label>Data:</label>
    <input type="date" id="date" name="date" ng-model="orderDate" >

    <label>Stolik</label>:</label>
    <input type="text" id="table" name="table" ng-model="table" >

    <label>Liczba osób:</label>
    <input type="number" id="guests" name="guests" value="1" min="1" max="4" ng-model="persons" >

    <br>
    <button class="button" ng-click="sendReservation()">
        <i class="fa fa-shopping-cart"  aria-hidden="true">Wyślij</i> </button>

</form>

</div>
</body>
</html>