<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Formularz zamówienia:</h3>

<form>

    <div class="order-client-data">
        <label>Imię i nazwisko:</label>
        <input type="text" id="full_name" name="full_name" placeholder="Jan Kowalski" required>

        <label>Miejscowość:</label>
        <input type="text" id="city" name="city" required>

        <label>ulica:</label>
        <input type="text" id="street" name="street" required>

        <label>nr:</label>
        <input type="text" id="house_no" name="house_no" required>


        <label>Data dostawy:</label>
        <input type="datetime" id="arrival_time" name="arrival_time" required>


    </div>

    <div class="order-sum">
        <label>Suma:</label>
        <output type="number" id="order_sum" name="order_sum" required>
            {{sum}} zł
        </output>
    </div>


    <input class="button-order" type="button" value="Potwiedz"/>
</form>


<table title="Zamówienia" class="table table-bordered">
    <tr>
        <th>Zdjęcie</th>
        <th>Opis</th>
        <th>Potrawa</th>
        <th>Cena</th>
    </tr>
    <tr ng-repeat="product in productList">
        <td> <img src="data:{{product.contentType}};base64,{{product.contentData}}" width=100% /></td>
        <td>{{ product.description }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
    </tr>


</table>

</div>
</body>
</html>