<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Formularz zamówienia:</h3>

<form>

    <div class="order-client-data">
        <label>Imię     :</label>
        <input type="text" id="name" name="name" ng-model="first" placeholder="Jan " >

        <label>Nazwisko:</label>
        <input type="text" id="lastName" name="lastName" ng-model="last" placeholder=" Kowalski" >

        <label>Miejscowość:</label>
        <input type="text" id="city" name="city" ng-model="city" required>

        <label>ulica:</label>
        <input type="text" id="street" name="street" ng-model="street" required>


        <label>nr:</label>
        <input type="text" id="house_no" name="house_no" ng-model="houseNo" required>


        <label>Data dostawy:</label>
        <input type="date" id="arrival_time" name="arrival_time" ng-model="orderTime" required>


    </div>

    <div class="order-sum">
        <label>Suma:</label>
        <output type="number" id="order_sum" name="order_sum" required>
            {{orderSum()}} zł
        </output>
    </div>


    <button class="button" ng-click="sendOrder()">
        <i class="fa fa-shopping-cart"  aria-hidden="true">Potwierdz</i> </button>
</form>


<table title="Zamówienia" class="table table-bordered">
    <tr>
        <th>Zdjęcie</th>
        <th>Opis</th>
        <th>Potrawa</th>
        <th>Cena</th>
    </tr>
    <tr ng-repeat="product in productList">
        <td> <img src="data:{{product.contentType}};base64,{{product.contentData}}" width=100% /></td>
        <td>{{ product.description }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td><button class="button" ng-click="removeProductOrder(product)">
            <i class="fa fa-shopping-cart"  aria-hidden="true">Usuń</i> </button>
    </tr>

</table>

</div>
</body>
</html>